/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
:root {
    /* main */ 
    --main-bg-color: white; 
    --main-fg-color: #111; 

    /* nav */

    --header-nav-bg-color: hsl(275deg 80% 33%);
    --header-nav-bg-highlight-color: hsl(275deg 60% 48%);
    --header-nav-border-color: hsl(275deg 45% 45%);
    --header-bg-color: hsl(275deg 80% 95%);
    --header-nav-fg-color: white;
    --header-nav-current-link-color: hsl(40deg 90% 55%);
    --header-border-color: #AAA;

    /* ---- */ 

    --strong-color: hsl(10deg 100% 48%);
    --code-bg-color: hsl(240deg 30% 96%);
    --code-meta-bg-color: hsl(240deg 30% 92%);
    --code-border-color: var(--code-meta-bg-color);

    /* footer and border */ 

    --footer-color: #999;
    --border-color: #AAA;

    /* figure */ 

    --figure-fg-color: white;
    --figure-border-color: #AAA;

    /* admonitions */ 

    /* --tip-bg-color: hsl(59, 95%, 93%); */
    --tip-bg-color: hsl(169deg 50% 95%);
    --example-bg-color: hsl(250deg 60% 98%);
    --example-border-color: hsl(205deg 10% 58%);
    --note-bg-color: hsl(105deg 50% 95%);
    --hint-bg-color: hsl(36deg 90% 95%);
    --caution-bg-color: hsl(0deg 90% 95%);
    --important-bg-color: hsl(255deg 90% 95%);
    --tip-title-color: hsl(169deg 80% 25%);
    --note-title-color: hsl(105deg 80% 25%);
    --caution-title-color: hsl(0deg 80% 40%);
    --important-title-color: hsl(225deg 80% 40%);

    /* link */

    --link-color: hsl(205deg 100% 50%);
    --visited-link-color: hsl(205deg 90% 35%);

    /* code highlights */

    --code-kw-color: blue;
    --code-co-color: #008000;
    --code-dt-color: blue;
    --code-st-color: #a31515;
    --code-ex-color: #999;
    --code-metaname-bg-color: white;
    --code-metaname-border-color: rgb(0 0 0 / 30%);

    /* nav */ 

    --qnav-tab-color: white;

    /* table */ 

    --table-border-color: #ddd;
    --table-th-bg-color: rgb(246 247 248); 
    --table-td-odd-bg-color: white; 
    --table-td-even-bg-color: white; 

    /* --table-td-even-bg-color: rgb(250 251 253);  */

    /* todo */ 

    --todo-color: hsl(230deg 95% 45%);

    /* exercises */ 

    --question-mandatory-fg: white;
    --question-mandatory-bg: red;
    --question-optional-fg: white;
    --question-optional-bg: hsl(110deg 95% 38%);

    /* metrics */ 

    --pre-padding: 0.75rem;
    --shadow-size: 0.4rem;
}

html {
    scroll-behavior: smooth;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

/* font setting */

h1,
h2,
h3,
h4,
h5,
h6,
div.title {
    font-family: sans-serif;
    line-height: 1.2;
}

div.title {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

pre,
code,
.directorylist li {
    font-family: "Anonymous Pro", inconsolata, Monaco, Consolas, monospace;
}

/* ------------------------------------ */

pre {
    background-color: var(--code-bg-color);
    padding: var(--pre-padding);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-width: 0.1em;
    border-color: var(--code-border-color);
    border-radius: 0.3rem;
    overflow: auto;
}

code {
    display: inline-block;
    background-color: var(--code-bg-color);
    font-size: 95%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.15em 0.3em;
    white-space: break-spaces;
    border-radius: 0.25rem;
}

pre code {
    background-color: transparent;
    border-style: none;
    font-size: 100%;
    display: block;
    border-width: 0;
    padding: 0;
    margin: 0;
    white-space: pre; 
}

pre.sourceCode {
    padding: 0;
    position: relative; 
}

pre.sourceCode code {
    padding: var(--pre-padding);
    max-width: 100%;
    overflow-x: auto;
}

pre.asciiart {
    line-height: 1;
}

h1 {
    font-size: 200%;
}

h2 {
    border-bottom: 0.075rem solid var(--border-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem 0;
    font-size: 145%;
    position: sticky; 
    top: -1px; 
    z-index: 1; 
    background-color: var(--main-bg-color);
}

h2.stuck {
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 30%);
}

h2:first-child {
    margin-top: 0;
}

h3 {
    font-size: 120%;
    margin-top: 1.5rem;
}

h4 { font-size: 105%; }

h5 { font-size: 100%; }

figure {
    max-width: 100%;
    padding: 0.5rem;
    margin-block: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (width >= 768px) {
    figure {
        max-width: 70%;
    }
}

@media only screen and (width >= 1024px) {
    figure {
        max-width: 60%;
    }
}


figure figcaption {
    text-align: center;
    font-weight: bold;
}

img {
    max-width: 80%;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 100%;
    max-width: initial;
    height: auto;
}

li {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

li > p:first-child, 
td > p:first-child,
li > pre:first-child,
td > pre:first-child {
    margin-top: 0;
}

li > p:last-child,
td > p:last-child,
li > pre:last-child,
td > pre:last-child  {
    margin-bottom: 0;
}

h1+p,
h2+p,
h3+p {
    margin-top: 0;
}


body {
    /* width: 90%; */
    margin: 0 auto 0.5rem;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
}


main {
    margin-left: 3vw;
    margin-right: 3vw;
}

footer {
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: right;
    margin-top: 3rem;
    font-size: 90%;
    color: var(--footer-color);
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:visited {
    color: inherit;
}

ul,
ol {
    padding-left: 2rem;
}


/* ------------------------------------ */


/* header */

header nav {
    background-color: var(--header-nav-bg-color);
    color: var(--header-nav-fg-color);
    padding-left: calc(3vw - 0.8rem);
    padding-right: calc(3vw - 0.8rem);
}

header {
    background-color: var(--header-bg-color);
    border-bottom: solid 0.1rem var(--header-border-color);
    margin-bottom: 4rem;
}

header nav ul {
    display: block;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

header nav a:hover,
header nav .dd:hover,
header nav .touched {
    background-color: var(--header-nav-bg-highlight-color);
}

header nav>ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.dd {
    position: relative;
    cursor: pointer;
}

.dd ul {
    display: none;
    position: absolute;
    background-color: var(--header-nav-bg-color);
    box-shadow: 0 0.5em 1em 0 rgb(0 0 0 / 30%);
    z-index: 2;
    white-space: nowrap;
}

.ddt::after {
    content: "\025BE";  /* ▼ */
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.ddt {
    display: inline-block;
    position: relative;
}

.dd:hover ul,
.dd:focus ul,
.touched ul {
    display: block;
}

.dd:hover ul li,
.dd:focus ul li,
.touched ul li {
    display: block;
}


header nav>ul>li>a,
header nav span.ddt {
    display: inline-block;
    padding: 0.6rem 1rem;
    margin: 0;
}

header nav .dd li {
    display: block;
    margin: 0;

    /* white-space: nowrap;  */
    border-top: 0.05em solid var(--header-nav-border-color);
}

header nav .dd ul li:first-child {
    border-top: none;
}

header nav .dd a {
    display: inline-block;
    padding: 0.6rem 1rem;
}

header nav a,
header nav a:visited {
    color: inherit;
    text-decoration: none;
}

header nav .top {
    margin-right: auto;
}


nav a.current-link {
    position: relative;
    box-shadow: inset 0 -0.3rem 0 0 var(--header-nav-current-link-color);
}

nav .dd a.current-link {
    position: relative;
    box-shadow: none;
}

nav .dd a.current-link::before {
    position: absolute;
    content: "\025B8";  /* ▸ */
    left: 0;
    color: var(--header-nav-current-link-color);
}


#TOC li {
    margin-top: 0;
    margin-bottom: 0;
}

p#last_updated {
    font-size: 90%;
    text-align: right;
}



div#tasks>ol {
    list-style: none;
    counter-reset: task-counter;
}

div#tasks>ol>li {
    counter-increment: task-counter;
    margin-left: 0;
}

div#tasks>ol>li::before {
    content: "実験タスク" counter(task-counter);
    font-weight: bold;
    margin-right: 0.5rem;
}

header h1,
header ul,
header p {
    margin-left: 3vw;
    margin-right: 3vw;
}


@media only screen and (width >= 800px) {
    :root {
        --toc-width: 17.5rem;
        --toc-gap: 1rem;
    }

    .with-right-nav {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: var(--toc-gap);
    }

    .toc {
        /* grid-row: 1;
        grid-column: 2; */

        display: block;
        position: sticky;
        font-size: 90%;
        width: var(--toc-width);
        flex-shrink: 0;
        top: 0;

        /* height: fit-content;
        -webkit-mask-image: linear-gradient(180deg, transparent 0, #000 3rem calc(100% - 3rem), transparent);
        mask-image: linear-gradient(180deg, transparent 0, #000 3rem calc(100% - 3rem), transparent); */
        max-height: 100vh;
        overflow-y: auto;
    }

    .mainbody {
        flex-shrink: 1;
        width: calc(100% - var(--toc-gap) - var(--toc-width));
    }

    .toc li {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .toc>ul {
        padding: 0;
        margin: 0;
    }

    .toc>ul>li {
        display: block;
        padding-left: 0.5rem;
    }

    .toc>ul>li ul {
        padding-left: 2rem;
    }


    /* 
    main.with-right-nav {
        position: relative;
        padding-right: 18rem; 
    } */


    body {
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    header nav {
        padding-left: calc(4vw - 0.8rem);
        padding-right: calc(4vw - 0.8rem);
    }

    header h1,
    header ul,
    header p {
        margin-left: 4vw;
        margin-right: 4vw;
    }


    main {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    footer {
        margin-left: 4vw;
        margin-right: 4vw;
    }
}

.qnav ul {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.qnav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.qnav a {
    display: inline-block;
    padding: 0.5rem 2rem 0.3rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-top: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    border-left: 0.1rem solid transparent;
}

.qnav a:link,
.qnav a:visited {
    color: inherit;
}

.qnav a:hover {
    background-color: var(--qnav-tab-color);
}

.qnav a.current-link {
    background-color: var(--qnav-tab-color);
    position: relative;
    border-top: 0.1rem solid var(--header-border-color);
    border-right: 0.1rem solid var(--header-border-color);
    border-left: 0.1rem solid var(--header-border-color);
}

.qnav a.current-link::before {
    content: '';
    position: absolute;
    background-color: var(--qnav-tab-color);
    bottom: -0.2rem;
    left: 0;
    right: 0;
    height: 0.4rem;
    z-index: 1;
}

h2#基本課題::after, 
#基本課題 h2::after {
    content: "必須";
    font-size: 0.8rem;
    padding: 0.15rem 0.5rem;
    display: inline-block;
    color: var(--question-mandatory-fg);
    background-color: var(--question-mandatory-bg);
    border-radius: 2rem;
    margin-left: 0.2rem;
    vertical-align: baseline;
    position: relative;
    bottom: 0.15rem;
}

h2#発展課題::after, 
#発展課題 h2::after {
    content: "オプショナル";
    font-size: 0.8rem;
    padding: 0.15rem 0.5rem;
    display: inline-block;
    color: var(--question-optional-fg);
    background-color: var(--question-optional-bg);
    border-radius: 2rem;
    margin-left: 0.2rem;
    vertical-align: baseline;
    position: relative;
    bottom: 0.15rem;
}






/* Special items */

div.note,
section.note,
div.caution,
section.caution,
div.important,
section.important,
div.example,
section.example,
div.tip,
section.tip,
div.hint,
section.hint {
    padding: 0.1em 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.tip,
section.tip {
    background-color: var(--tip-bg-color);
}

div.example,
section.example {
    background-color: var(--example-bg-color);
}

.example>p:first-child {
    font-weight: bold;
}

.example:not(:has(p, p > .title))::before {
    content: "例";
    display: inline-block;
    font-weight: bold;
    margin-top: 1rem;
}

div.note,
section.note {
    background-color: var(--note-bg-color);
}

div.caution,
section.caution {
    background-color: var(--caution-bg-color);
}

div.hint,
section.hint {
    background-color: var(--hint-bg-color);
}

div.important,
section.important {
    background-color: var(--important-bg-color);
}

.note>.title {
    color: var(--note-title-color);
}

.tip>.title {
    color: var(--tip-title-color);
}

.caution>.title {
    color: var(--caution-title-color);
}

.important>.title {
    color: var(--important-title-color);
}

.note>.title>p::before,
.warning>.title>p::before,
.important>.title>p::before,
.caution>.title>p::before,
.tip>.title>p::before {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: max(20px, 100%);
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: text-bottom;
    margin-right: 0.2em;
}

.note>.title>p::before {
    content: "\0e88e";
}

.caution>.title>p::before {
    content: "\0e160";
}

.tip>.title>p::before {
    content: "\0e0f0";
}

.important>.title>p::before {
    content: "\0f5cf";

}

span.metaname {
    font-style: oblique 15deg;
    font-size: 0.9rem;
    background-color: var(--code-metaname-bg-color);
    border: 0.075rem solid var(--code-metaname-border-color);
    padding: 0.1rem 0.2rem;
    border-radius: 0.3rem;
}

span.ex {
    color: var(--code-ex-color);
}

span.kw {
    font-weight: bold;
    color: var(--code-kw-color);
}

span.co {
    color: var(--code-co-color);
}

span.dt {
    color: var(--code-dt-color);
}

span.st {
    color: var(--code-st-color);
}

span.sc {
    color: var(--code-st-color);
}

span.with-prompt::before {
    content: "$ ";
}

strong {
    font-style: normal;
    font-weight: bold;
    color: var(--strong-color);

    /* background: linear-gradient(to top, #FF6 40%, transparent 50%); */
}

em {
    font-style: normal;
    font-weight: bold;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--visited-link-color);
}

/* table */

table {
    margin: 2rem auto;
    border-collapse: collapse;

    /* border-top: .1rem solid var(--table-border-color);
    border-bottom: .1rem solid var(--table-border-color); */
}

table td, table th
{
    border: 0.075rem solid var(--table-border-color);
}

table th 
{
    background-color: var(--table-th-bg-color);
}

table tr:nth-child(even) 
{
    background-color: var(--table-td-even-bg-color);
}

table tr:nth-child(odd)
{
    background-color: var(--table-td-odd-bg-color);
}

/* thead tr:last-child th {
    border-bottom: .075rem solid var(--table-border-color);
} */

td,
th {
    padding: 0.6rem 0.4rem;
    vertical-align: top;
}

td>p,
th>p {
    margin-top: 0;
    margin-bottom: 0;
}

/* modal img */

img.enlargeable {
    cursor: pointer;
}

/* p:has(img.enlargeable)::after {
    content: "画像をクリックして拡大";
    display: block;
    position: absolute;
    top: calc(10%);
    left: calc(40%);
    font-size: 150%;
    color: #CCC;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    padding: 0.3rem;
    border-radius: 1rem;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
} */

.modal-pane {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-color: rgb(0 0 0 / 60%);
    backdrop-filter: blur(1ch);
}

.modal-image {
    margin: auto;
    display: block;
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    cursor: default;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;

    /* padding: auto; */

    background-color: rgb(160 160 160 / 60%);
    border-radius: 4rem;
    z-index: 3;
    transform: rotate(45deg);

    /* transition: 0.3s; */
}

.close-button::before {
    content: '';
    position: absolute;
    background-color: #f1f1f1;
    top: 0.5rem;
    left: 1.4rem;
    width: 0.2rem;
    height: 2rem;
}

.close-button::after {
    content: '';
    position: absolute;
    background-color: #f1f1f1;
    top: 1.4rem;
    left: 0.5rem;
    width: 2rem;
    height: 0.2rem;
}

/* 
   copy  button 
*/

.code-control {
    font-size: 85%;
    font-family: initial;

    /* color:     #777; */

    padding: 0.2rem var(--pre-padding);
    background-color: var(--code-meta-bg-color);

    /* border-bottom: max(0.05rem, 1px) solid var(--border-color); */
}


pre.sourceCode.cs .code-control::before {
    content: 'C#';
    display: inline-block;
}

pre.sourceCode.json .code-control::before {
    content: 'JSON';
    display: inline-block;
}


pre.sourceCode.xml .code-control::before {
    content: 'XML';
    display: inline-block;
}

pre.sourceCode.c .code-control::before {
    content: 'C';
    display: inline-block;
}


span.copy-button::before {
    content: '\0e14d';
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 120%;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

span.copy-button.failed::before {
    content: '!';
}

span.copy-button::after {
    content: '\02713';  /* Check Mark */
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--code-meta-bg-color);
    z-index: 1;
    transition-delay: 1s;
    transition-duration: 1s;
    opacity: 0;
}

span.copy-button:active::after {
    opacity: 1;
    transition: 0s;
    z-index: 1;
}

span.copy-button.failed::after {
    content: 'failed';
    background-color: red;
    color: white;
}


.copy-button {
    position: relative;
    float: right;
    display: block;
    right: -0.2rem;
    padding: 0 0.2rem;
    text-align: center;
    cursor: pointer;
}

.copy-button:hover {
    background-color: rgb(255 255 255 / 70%);
}

.copy-button:active {
    transition: 0s;
}

.copy-button.failed {
    background-color: red;
    color: white;
}

/* task-list */

ul.task-list {
    list-style-type: none;
}

ul.task-list li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

ul.task-list>li {
    position: relative;
}

ul.task-list>li input[type="checkbox"]:first-child {
    position: absolute;
    margin: 0.2em;
    left: -2em;
    top: 0.3em;
}


/* 更新ログ関連 */

ul.changes {
    /* Safari doesn't support the content property for ::marker */ 
    list-style-type: none;
}

ul.changes>li {
    padding-left: 0.8ch;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    position: relative;
}

ul.changes>li.planned {
    color: var(--todo-color);
}

ul.changes>li::before {
    content: "☑";
    font-size: 1.2em;
    line-height: 1;
    position: absolute;
    right: 100%;
    bottom: calc(100% - 1cap - 0.3em/1.2);
}

ul.changes>li.planned::before {
    content: "☐";
}

/* ul.changes>li.planned::before {
    content: "[予定] ";
} */

/* Instructions */

ol {
    counter-reset: item;
    list-style-type: none;
}

ol > li {
    position: relative;
}

ol > li::before {
    content: counter(item) ". ";
    counter-increment: item;
    position: absolute;
    left: calc(-3ch - 0.7em);
    width: 3ch;
    text-align: right;
    top: 0;
}

ol ol > li::before {
    content: counter(item, lower-roman) ". ";
}

ol ol ol > li::before {
    content: counter(item, lower-alpha) ". ";
}

.Instructions ol > li 
{
    border-left: 0.3em solid #eee; 
    padding-left: 1em;
    margin-bottom: 1.3em; 
}

.Instructions ul > li 
{
    border-left: none; 
    padding-left: 0;
}

/* scroll */

.scroll-wrapper
{
    position: relative;
}

.scroll-wrapper.table 
{
    max-width: min-content;
    margin: 2rem auto; 
}

.scroll-box > * 
{
    margin: 0; 
}

.scroll-box::before
{
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.scroll-box.horizontal
{
    width: 100%; 
    overflow: auto;
}


.scroll-box.off-left::before {
    box-shadow: inset var(--shadow-size) 0 var(--shadow-size) calc(0px - var(--shadow-size)) rgb(0 0 0/40%);
}

.scroll-box.off-right::before {
    box-shadow: inset calc(0px - var(--shadow-size)) 0 var(--shadow-size) calc(0px - var(--shadow-size)) rgb(0 0 0/40%); 
}

.scroll-box.off-left.off-right::before {
    box-shadow: 
        inset var(--shadow-size) 0 var(--shadow-size) calc(0px - var(--shadow-size)) rgb(0 0 0/40%),
        inset calc(0px - var(--shadow-size)) 0 var(--shadow-size) calc(0px - var(--shadow-size)) rgb(0 0 0/40%); 
}


/*
  Here, .directorylist part is just a straightforward adaptation of 
  https://codepen.io/khoama/pen/AoPeMM.

  Here is the original license of the original code. 

  Copyright (c) 2022 by Khoa Ma (https://codepen.io/khoama/pen/AoPeMM)

  Permission is hereby granted, free of charge, to any person
  obtaining a copy of this software and associated documentation files
  (the "Software"), to deal in the Software without restriction,
  including without limitation the rights to use, copy, modify, merge,
  publish, distribute, sublicense, and/or sell copies of the Software,
  and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be
  included in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
  BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
  ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.

 */

.directorylist ul {
    list-style: none;
    padding-left: 2em;
}

.directorylist li {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.directorylist li::before {
    position: absolute;
    left: -1.3rem;
    top: -.5rem;
    content: '';
    display: block;
    border-left: 0.1rem solid #ddd;
    height: 1rem;
    border-bottom: 0.1rem solid #ddd;
    width: 1.2rem;
}

.directorylist li::after {
    position: absolute;
    left: -1.3rem;
    bottom: -0.5rem;
    content: '';
    display: block;
    border-left: 0.1rem solid #ddd;
    height: 100%;
}

.directorylist>ul>li:first-child::before {
    display: none;
}

.directorylist>ul>li:first-child::after {
    display: none;
}

.directorylist li:last-child::after {
    display: none;
}


/*
  End of the .directorylist part        
*/

@media print {
    #TOC {
        display: none;
    }

    #LINKS {
        display: none;
    }

    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 120%;
    }

    body {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    pre {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
}