:root {
    --header-nav-bg-color: hsl(275, 80%, 33%);
    --header-bg-color:     hsl(275, 80%, 95%);
    --header-nav-fg-color: white; 
    --header-nav-current-link-color: hsl(40, 90%, 55%);
    --header-border-color: #AAA;

    --strong-color: hsl(10, 100%, 48%); 

    --code-bg-color:     hsl(240, 30%, 96%); /* #f8f8fc */
    --code-border-color: #e2e2e2; 
}

h1, h2, h3, h4, h5, h6, div.title {
    font-family: sans-serif; 
}

div.title {
    font-weight: bold; 
}

pre, code {
    font-family: "Anonymous Pro", inconsolata, Monaco, Consolas, monospace;
}

li {
    margin-top:    0.5em; 
    margin-bottom: 0.5em; 
}

header nav {
    background-color: var(--header-nav-bg-color);
    color: var(--header-nav-fg-color);
}

header {
    background-color: var(--header-bg-color);
    border-bottom:    solid 0.1em var(--header-border-color);
    margin-bottom:    4em; 
}

header nav ul {
    display: block; 
    margin:  0px; 
    padding: 0px; 
}

header nav li {
    display: inline-block; 
    padding: 0px; 
    margin:  0px; 
}

header nav > ul {
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: auto;

    justify-content: space-between; 
}

.dd ul {
    display:  none;    
    position: absolute;
    background-color: var(--header-nav-bg-color);
    box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.ddt:after {
    content: "\025BC"; /* ▼ */    
}

.ddt {
    display: inline-block; 
    position: relative;     
}

.dd:hover ul {
    display: block;
}

.dd:hover ul li {
    display: inline-block; 
}

header nav a, header nav span.ddt {
    display: inline-block;
    padding: 0.6em  0.8em; 
    margin: 0px; 
}

header nav a, header nav a:visited {
    color: inherit;
    text-decoration: none;
}

header nav .top {
    margin-right: auto;
}


nav a.current-link {
    position: relative;
    /* font-weight: bold;  */
    box-shadow: inset 0 -0.3em 0 0 var(--header-nav-current-link-color);
}

footer {
    text-align: right; 
    margin-top: 3em; 
    font-size: 90%;  
    /* color: hsl(275, 80%, 33%);  */
    color: #999; 
}

#TOC li{
    margin-top: 0em;
    margin-bottom: 0em;
}

p#last_updated {
    font-size: 90%;
    text-align: right; 
}

pre {
    /* margin-left:  1.5em; */
    /* margin-right: 1.5em; */
    background-color: var(--code-bg-color);

    padding:       1em;
    margin-top:    1.5em;
    margin-bottom: 1.5em;

    /* border-style: solid; */
    /* border-width: 0.08em; */
    border-color: var(--code-border-color);

    border-radius: 1em;

/*    box-shadow:4px 4px 13px 0px rgba(0,0,0,0.19); */
}

code {
    background-color: var(--code-bg-color);
    padding-left:  0.2em;
    padding-right: 0.2em;

    /* padding-top:   0.1em; */
    /* padding-bottom: 0.1em; */

    font-size: 100%;

    margin-left: 0.1em;
    margin-right: 0.1em;

    padding: 0.3em; 

    /* border-style: solid; */
    /* border-width: 0.08em; */
    border-color: var(--code-border-color);

    border-radius: 0.25em;
}

pre code {
    background-color: transparent; 
    border-style: none;
    border-width: 0px;
    padding: 0px; 
    margin:  0px;
}

pre {
    overflow: auto;
}

body {
    margin: 0px; 
}

/* body { */
/*     padding-left: 1em; */
/*     padding-right: 1em; */
/* } */

h1 {
    font-size: 200%;
}

h2 {
    border-bottom: 0.075em solid #AAA;
    /* border-top:    0.075em solid #AAA; */
    margin-top:    1em;
    margin-bottom: 1em;

    padding: 0.1em 0px;

    font-size: 145%;
}

figure {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    figure {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    figure {
        max-width: 400px;
    }
}




figure {
    background-color: white; 
    border-style: solid;
    border-width: 0.075em;
    border-color: #AAA;
    padding: 0.5em;

    
    margin-left: auto;
    margin-right: auto; 
}

figure figcaption {
    text-align: center;
    font-weight: bold;             
}

img {
    max-width:     60%;
    object-fit: scale-down; 
    margin-left:  auto; 
    margin-right: auto; 
}

figure img {
    width: 100%;
    height: auto;
}



div#tasks > ol {
    list-style: none; 
    counter-reset: task-counter;
}

div#tasks > ol > li {
    counter-increment: task-counter; 
    margin-left: 0em;
}

div#tasks > ol > li::before {
    content: "実験タスク" counter(task-counter);
    font-weight: bold; 
    margin-right: 0.5em;
}


span.required, span.optional {
    display: inline-block; 
    font-size:   90%; 
    font-weight: bold;
    border-radius: calc(1em / 0.9); 
    padding: calc(0.1em / 0.9) calc(0.3em / 0.9);     
    margin-left: -0.2em; 
    margin-right: 0.5em; 
}

span.required {
    color: hsl(0, 100%, 50%); 
    background-color: hsl(0, 100%, 95%); 
}

span.optional { 
    color: hsl(100, 90%, 30%); 
    background-color: hsl(100, 90%, 95%); 
}


h1+p, h2+p, h3+p {
    margin-top:    0em;
}


body {
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;        
    padding-left: 0px;
    padding-right: 0px;
}

header nav {
    padding-left:  calc(3vw - 0.8em); 
    padding-right: calc(3vw - 0.8em);
}

header h1, header ul, header p{
    margin-left:  3vw; 
    margin-right: 3vw;
}


main {
    margin-left:  3vw;
    margin-right: 3vw;
}
footer {
    margin-left:  3vw;
    margin-right: 3vw; 
}


@media only screen and (min-width: 800px) {   
    .toc {
        display: block; 
        position: absolute; 

        font-size: 90%;
        width: 18em; 
        
        left: calc(100% - 18em);

        /* top:    5vh;  */
        /* bottom: 5vh; */

        overflow-y: auto; 

        /* float: right;  */
        /* background-color: hsl(55, 23%, 92%); */
        /* border-radius: 1em;  */
        /* margin: 0.5em; */
    }

    .toc li {
        margin-top:    0.3em;
        margin-bottom: 0.3em;
    }

    .toc > ul {
        padding: 0em 0em;
        margin:  0px 0px;
    }

    .toc > ul > li {
        display: block;
        padding-left: 0.5em;
    }

    

    main.with-right-nav {
        position: relative; 
        padding-right: 18em;
    }
    

    body {
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;        
        padding-left: 0px;
        padding-right: 0px;
    }

    header nav {
        padding-left:  calc(5vw - 0.8em); 
        padding-right: calc(5vw - 0.8em);
    }
    
    header h1, header ul, header p{
        margin-left:  5vw; 
        margin-right: 5vw;
    }


    main {
        margin-left:  5vw;
        margin-right: 5vw;
    }
    footer {
        margin-left: 5vw;
        margin-right: 5vw; 
    }
}

.qnav ul {
    display: block; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 0px; 
}

.qnav li {
    display: inline-block;
    margin: 0px;
    padding: 0px; 
}

.qnav a {
    display: inline-block;
    padding: 0.3em 2em; 
    /* background-color: #CCC; */
    border-top-left-radius:  1.5em;
    border-top-right-radius: 1.5em;        
}

.qnav a:link, .qnav a:visited {
    color: inherit; 
}

.qnav a:hover {
    background-color: white;
}

.qnav a.current-link {
    background-color: white; 
    position: relative;
    border-top:   0.1em solid var(--header-border-color);
    border-right: 0.1em solid var(--header-border-color); 
    border-left:  0.1em solid var(--header-border-color); 
}

.qnav a.current-link:before {
    content: ''; 
    position: absolute; 

    background-color: white;    
    bottom: -0.15em; left: 0; right: 0; 
    height: 0.2em; 
    z-index: 1;
}






h3 {
    font-size:  120%;
    margin-top: 1.5em;
}

footer a {
    color: inherit; 
    text-decoration: none; 
}
footer a:visited {
    color: inherit; 
}

/* Special items */

div.note, section.note, div.caution, section.caution, div.admonition, section.admonition, div.tip, section.tip {
    padding: 0.1em 1em;
    border-radius: 1em; 

    margin-top:    1em; 
    margin-bottom: 1em; 
}

div.tip, section.tip {
    background-color: hsl(60, 100%, 80%);
}

div.example, section.example {
    background-color: hsl(36, 0%, 96%);
    /* border: 0.2em solid hsl(36, 0%, 48%); */
}

div.note, section.note {
    background-color: hsl(155, 40%, 94%); 
}

/* div.note div.title p:before  { */
/*     display: inline-block;  */
/*     content: "!!\020DD"; */
/*     /\* color: white;  *\/ */
/*     /\* padding: 0.1em 0.5em;  *\/ */
/*     /\* background-color: hsl(155, 40%, 50%); *\/ */
/*     /\* border-radius: 1em; *\/ */
/* } */

/* div.note div.title { */
/*     background-color: hsl(155, 40%, 80%);  */
/* } */


div.caution, section.caution {
    background-color: hsl(0, 90%, 95%);
}

div.caution > p:first-child::before, section.caution > p:first-child::before {
    content: "注意：";
    font-weight: bold; 
    color: hsl(10, 100%, 48%); 
}




/* syntax highlighting */

span.metaname {
    background-color: white; 
    border: 0.1em solid black;
}

span.ex {
    color: gray; 
}

span.kw {
    font-weight: bold; 
    color: blue; 
}

span.co {
    color: #008000; 
}

span.dt {
    color: blue; 
}

/* span.op { */
/*     color: blue;  */
/* } */

span.st {
    color: #a31515; 
}

strong {
    font-style:  normal;
    font-weight: bold;
    color:       var(--strong-color);

    background: linear-gradient(to top, #FF6 40%, transparent 50%);
}

em {
    font-style:  normal;
    font-weight: bold;
    /* color: #ff2f92; */
    /* color: var(--strong-color); */
    /* background: linear-gradient(to top, #FF6 60%, transparent 50%);     */
}

a {
    /* color: #00aaff; */
    color: hsl( 205, 100%, 50%);
    /* transition: background-color 0.3s ease-in-out; */
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

a:visited {
    color: hsl( 205, 90%, 35%)
}

@media print {
    #TOC { 
        display: none; 
    }
    #LINKS {
        display: none; 
    }
    h1 {
        font-size: 140%; 
    }
    h2 {
        font-size: 120%; 
    }
    body {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px; 
        padding-right: 0px; 
    }
    pre {
        margin-top:    0.5em;
        margin-bottom: 0.5em; 
        padding:       0.5em; 
    }
}


