:root {
    --header-nav-bg-color: hsl(275, 80%, 33%);
    --header-nav-bg-highlight-color: hsl(275, 60%, 48%);
    --header-bg-color:     hsl(275, 80%, 95%);
    --header-nav-fg-color: white; 
    --header-nav-current-link-color: hsl(40, 90%, 55%);
    --header-border-color: #AAA;

    --strong-color: hsl(10, 100%, 48%); 

    --code-bg-color:     hsl(240, 30%, 96%); /* #f8f8fc */
    --code-border-color: #e2e2e2; 

    --footer-color: #999;
    --border-color: #AAA;

    --figure-fg-color: white;
    --figure-border-color: #AAA;

    --tip-bg-color:         hsl(60, 100%, 80%);
    --example-bg-color:     hsl(205, 40%, 99%);
    --example-border-color: hsl(205, 10%, 58%);
    --note-bg-color:        hsl(155, 40%, 94%);
    --hint-bg-color:        hsl(36, 90%, 95%);
    --caution-bg-color:     hsl(0, 90%, 95%);

    

    --link-color: hsl( 205, 100%, 50%);
    --visited-link-color: hsl( 205, 90%, 35%);

    --code-kw-color: blue; 
    --code-co-color: #008000;
    --code-dt-color: blue; 
    --code-st-color: #a31515; 
    --code-ex-color: #999;

    --code-metaname-bg-color:     white; 
    --code-metaname-border-color: rgba(0, 0, 0, 0.3); 

    --qnav-tab-color: white; 

    --table-border-color: #222;

    --question-mandatory-fg: white;
    --question-mandatory-bg: red; 

    --question-optional-fg: white; 
    --question-optional-bg: hsl(110, 95%, 38%);
}

/* font setting */

h1, h2, h3, h4, h5, h6, div.title {
    font-family: sans-serif; 
}

div.title {
    font-weight: bold; 
}

.underline {
    text-decoration: underline;
}

pre, code, .directorylist li {
    font-family: "Anonymous Pro", inconsolata, Monaco, Consolas, monospace;
}

/* ------------------------------------ */ 

pre {
    /* margin-left:  1.5em; */
    /* margin-right: 1.5em; */
    background-color: var(--code-bg-color);

    padding:       1rem;
    margin-top:    1.5rem;
    margin-bottom: 1.5rem;

    /* border-style: solid; */
    /* border-width: 0.08em; */
    border-color: var(--code-border-color);

    border-radius: 1rem;

/*    box-shadow:4px 4px 13px 0px rgba(0,0,0,0.19); */
}

code {
    display: inline-block; 
    background-color: var(--code-bg-color);
    padding-left:  0.2rem;
    padding-right: 0.2rem;

    /* padding-top:   0.1em; */
    /* padding-bottom: 0.1em; */

    font-size: 100%;

    margin-left: 0.1rem;
    margin-right: 0.1rem;

    padding: 0.3rem; 

    /* border-style: solid; */
    /* border-width: 0.08em; */
    border-color: var(--code-border-color);

    border-radius: 0.25rem;
}

pre code {
    background-color: transparent; 
    border-style: none;
    display: block;
    border-width: 0px;
    padding: 0px; 
    margin:  0px;
}

pre {
    overflow: auto;
}

body {
    margin: 0px; 
}

/* body { */
/*     padding-left: 1em; */
/*     padding-right: 1em; */
/* } */

h1 {
    font-size: 200%;
}

h2 {
    border-bottom: 0.075rem solid var(--border-color);
    margin-top:    1rem;
    margin-bottom: 1rem;

    padding: 0.1rem 0px;

    font-size: 145%;
}


h3 {
    font-size:  120%;
    margin-top: 1.5rem;
}


figure {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    figure {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    figure {
        max-width: 400px;
    }
}




figure {
    background-color: var(--figure-bg-color); 
    border-style: solid;
    border-width: 0.075rem;
    border-color: var(--figure-border-color);
    padding: 0.5rem;

    
    margin-left: auto;
    margin-right: auto; 
}

figure figcaption {
    text-align: center;
    font-weight: bold;             
}

img {
    max-width:     80%;
    object-fit: scale-down; 
    margin-left:  auto; 
    margin-right: auto; 
}

figure img {
    width: 100%;
    height: auto;
}


li {
    margin-top:    0.7em; 
    margin-bottom: 0.7em; 
}

h1+p, h2+p, h3+p {
    margin-top:    0em;
}


body {
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;        
    padding-left: 0px;
    padding-right: 0px;
}


main {
    margin-left:  3vw;
    margin-right: 3vw;
}

footer {
    margin-left:  3vw;
    margin-right: 3vw; 
}

footer {
    text-align: right; 
    margin-top: 3rem; 
    font-size: 90%;  
    /* color: hsl(275, 80%, 33%);  */
    color: var(--footer-color); 
}

footer a {
    color: inherit; 
    text-decoration: none; 
}
footer a:visited {
    color: inherit; 
}


/* ------------------------------------ */ 


/* header */

header nav {
    background-color: var(--header-nav-bg-color);
    color: var(--header-nav-fg-color);
}

header {
    background-color: var(--header-bg-color);
    border-bottom:    solid 0.1rem var(--header-border-color);
    margin-bottom:    4rem; 
}

header nav ul {
    display: block; 
    margin:  0px; 
    padding: 0px; 
}

header nav li {
    display: inline-block; 
    padding: 0px; 
    margin:  0px; 
}

header nav a:hover, header nav .dd:hover {
    background-color: var(--header-nav-bg-highlight-color);
}

header nav > ul {
    display: flex; 
    flex-wrap: nowrap;
    /* overflow-x: auto; */

    justify-content: space-between; 
}

.dd {
    position: relative; 
    cursor:   pointer; 
}

.dd ul {
    display:  none;    
    position: absolute;
    background-color: var(--header-nav-bg-color);
    box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.3);
    z-index: 1; 

    white-space: nowrap;
}

.ddt::after {
    content:   "\025BE"; /* ▼ */    
    /* font-size: 80%; */
    margin-left:  0.2em; 
    margin-right: 0.2em;
}

.ddt {
    display: inline-block; 
    position: relative;     
}

.dd:hover ul, .dd:focus ul {
    display: block;
}

.dd:hover ul li, .dd:focus ul li {
    display: block; 
}


header nav > ul > li > a, header nav span.ddt {
    display: inline-block;
    padding: 0.6rem  1rem; 
    margin: 0px; 
}

header nav .dd li {
    display: inline-block;
    margin: 0px;     

    /* white-space: nowrap;  */
    border-top: 0.05em solid var(--header-nav-bg-highlight-color);
}

header nav .dd ul li:first-child {
    border-top: none; 
}

header nav .dd a {
    display: inline-block; 
    padding: 0.6rem  1rem; 
}

header nav a, header nav a:visited {
    color: inherit;
    text-decoration: none;
}

header nav .top {
    margin-right: auto;
}


nav a.current-link {
    position: relative;
    /* font-weight: bold;  */
    box-shadow: inset 0 -0.3rem 0 0 var(--header-nav-current-link-color);
}

nav .dd a.current-link {
    position: relative; 
    box-shadow: none;
    /* box-shadow: inset  0.0rem 0 0 0 var(--header-nav-current-link-color); */
    /* box-shadow: inset -0.5rem 0 0 0 var(--header-nav-current-link-color); */
    /* background-color: var(--header-nav-current-link-color); */
}

nav .dd a.current-link::before {
    position: absolute;
    content: "\025B8"; /* ▸ */
    left:    0px;
    color: var(--header-nav-current-link-color);
}



#TOC li{
    margin-top: 0em;
    margin-bottom: 0em;
}

p#last_updated {
    font-size: 90%;
    text-align: right; 
}



div#tasks > ol {
    list-style: none; 
    counter-reset: task-counter;
}

div#tasks > ol > li {
    counter-increment: task-counter; 
    margin-left: 0rem;
}

div#tasks > ol > li::before {
    content: "実験タスク" counter(task-counter);
    font-weight: bold; 
    margin-right: 0.5rem;
}

header nav {
    padding-left:  calc(3vw - 0.8rem); 
    padding-right: calc(3vw - 0.8rem);
}

header h1, header ul, header p{
    margin-left:  3vw; 
    margin-right: 3vw;
}


@media only screen and (min-width: 800px) {   
    .toc {
        display: block; 
        position: absolute; 

        font-size: 90%;
        width: 17.5rem; 
        
        left: calc(100% - 17.5rem);

        /* top:    5vh;  */
        /* bottom: 5vh; */

        /* overflow-y: auto;  */
        

        /* float: right;  */
        /* background-color: hsl(55, 23%, 92%); */
        /* border-radius: 1em;  */
        /* margin: 0.5em; */
    }

    .toc li {
        margin-top:    0.3em;
        margin-bottom: 0.3em;
    }

    .toc > ul {
        padding: 0em 0em;
        margin:  0px 0px;
    }

    .toc > ul > li {
        display: block;
        padding-left: 0.5rem;
    }

    .toc > ul > li ul {
        padding-left: 2rem; 
    }

    

    main.with-right-nav {
        position: relative; 
        padding-right: 18rem;
    }
    

    body {
        /* width: 90%; */
        margin-left: auto;
        margin-right: auto;        
        padding-left: 0px;
        padding-right: 0px;
    }

    header nav {
        padding-left:  calc(4vw - 0.8rem); 
        padding-right: calc(4vw - 0.8rem);
    }
    
    header h1, header ul, header p{
        margin-left:  4vw; 
        margin-right: 4vw;
    }


    main {
        margin-left:  4vw;
        margin-right: 4vw;
    }
    footer {
        margin-left:  4vw;
        margin-right: 4vw; 
    }
}

.qnav ul {
    display: block; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 0px; 
}

.qnav li {
    display: inline-block;
    margin: 0px;
    padding: 0px; 
}

.qnav a {
    display: inline-block;
    padding: 0.5rem 2rem 0.3rem; 
    /* background-color: #CCC; */
    border-top-left-radius:  1.2rem;
    border-top-right-radius: 1.2rem;        
}

.qnav a:link, .qnav a:visited {
    color: inherit; 
}

.qnav a:hover {
    background-color: var(--qnav-tab-color);
}

.qnav a.current-link {
    background-color: var(--qnav-tab-color); 
    position: relative;
    border-top:   0.1rem solid var(--header-border-color);
    border-right: 0.1rem solid var(--header-border-color); 
    border-left:  0.1rem solid var(--header-border-color); 
}

.qnav a.current-link::before {
    content: ''; 
    position: absolute; 

    background-color: var(--qnav-tab-color);    
    bottom: -0.2rem; left: 0; right: 0; 
    height:  0.4rem; 
    z-index: 1;
}

#基本課題::after {
    content: "必須"; 
    font-size: 0.8rem; 
    padding:   0.1rem 0.5rem;
    display:   inline-block;
    color:            var(--question-mandatory-fg);
    background-color: var(--question-mandatory-bg);    
    border-radius: 2rem;

    vertical-align: text-bottom;
    margin-left: 0.2rem;
}

#発展課題::after {
    content: "オプショナル"; 
    font-size: 0.8rem; 
    padding:   0.1rem 0.5rem;
    display:   inline-block;
    color:            var(--question-optional-fg);
    background-color: var(--question-optional-bg);    
    border-radius: 2rem;

    vertical-align: text-bottom;
    margin-left: 0.2rem;
}






/* Special items */

div.note, section.note, 
div.caution, section.caution, 
div.admonition, section.admonition, 
div.tip, section.tip, 
div.hint, section.hint
{
    padding: 0.1em 1rem;
    border-radius: 1rem; 

    margin-top:    1rem; 
    margin-bottom: 1rem; 
}

div.tip, section.tip {
    background-color: var(--tip-bg-color);
}

div.example, section.example {
    background-color: var(--example-bg-color);
    border: 0.15rem solid var(--example-border-color);
}

.example > p:first-child {
    font-weight: bold; 
}

div.note, section.note {
    background-color: var(--note-bg-color); 
}

div.caution, section.caution {
    background-color: var(--caution-bg-color); 
}

div.hint, section.hint {
    background-color: var(--hint-bg-color);
}

span.metaname {
    font-style: oblique 15deg; 
    font-size: 0.9rem;
    background-color: var(--code-metaname-bg-color); 
    border: 0.075rem solid var(--code-metaname-border-color);
    padding: 0.1rem 0.2rem;
    border-radius: 0.3rem;
}

span.ex {
    color: var(--code-ex-color); 
}

span.kw {
    font-weight: bold; 
    color: var(--code-kw-color); 
}

span.co {
    color: var(--code-co-color); 
}

span.dt {
    color: var(--code-dt-color); 
}

/* span.op { */
/*     color: blue;  */
/* } */

span.st {
    color: var(--code-st-color); 
}

span.sc {
    color: var(--code-st-color); 
}

span.with-prompt::before {
    content: "$ ";
}

strong {
    font-style:  normal;
    font-weight: bold;
    color:       var(--strong-color);

    /* background: linear-gradient(to top, #FF6 40%, transparent 50%); */
}

em {
    font-style:  normal;
    font-weight: bold;
    /* color: #ff2f92; */
    /* color: var(--strong-color); */
    /* background: linear-gradient(to top, #FF6 60%, transparent 50%);     */
}

a {
    /* color: #00aaff; */
    color: var(--link-color);
    /* transition: background-color 0.3s ease-in-out; */
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

a:visited {
    color: var(--visited-link-color);
}

/* table */ 

table {
    margin: 2rem auto; 
    border-top:    .1rem solid var(--table-border-color);
    border-bottom: .1rem solid var(--table-border-color);

    border-collapse: collapse;
}

thead tr:last-child th {
    border-bottom: .075rem solid var(--table-border-color);
}

td, th {
    padding: 0.6rem 0.4rem;
    vertical-align: top; 
}

td > p, th > p {
    margin-top:    0px; 
    margin-bottom: 0px; 
}

/* modal img */ 

img.enlargeable {
    cursor: pointer; 
}

.modal-pane {
    display: none; 
    position: fixed; 
    z-index: 2; 
    
    left: 0;
    top:  0; 

    width:  100vw; 
    height: 100vh; 

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
    margin: auto; 
    display: block; 
    margin-top:  2vh;
    max-width:  96vw;
    max-height: 96vh;
}

/* .modal-image { */
/*     animation-name: zoom;  */
/*     animation-duration: 0.3s; */
/* } */

/* @keyframes zoom { */
/*     from {transform:scale(0)} */
/*     to   {transform:scale(1)} */
/* } */

.close-button {
    position: absolute; 
    top:   1rem;
    right: 2rem;
    color: #f1f1f1;
    font-size:   2rem;
    font-weight: bold;
    /* transition: 0.3s; */
}


/*
  Here, .directorylist part is just an straightforward adaptation of 
  https://codepen.io/khoama/pen/AoPeMM.

  Here is the original license of the original code. 

  Copyright (c) 2022 by Khoa Ma (https://codepen.io/khoama/pen/AoPeMM)

  Permission is hereby granted, free of charge, to any person
  obtaining a copy of this software and associated documentation files
  (the "Software"), to deal in the Software without restriction,
  including without limitation the rights to use, copy, modify, merge,
  publish, distribute, sublicense, and/or sell copies of the Software,
  and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be
  included in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
  BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
  ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.

 */ 

.directorylist ul {
    list-style: none;
}
.directorylist li {
    position: relative; 
    margin-top:    0.5rem;
    margin-bottom: 0.5rem;
}
.directorylist li::before {
    position: absolute;
    left:  -1.2rem;
    top:   -.5rem;
    content: '';
    display: block;
    border-left:   0.1rem solid #ddd;
    height: 1rem;
    border-bottom: 0.1rem solid #ddd;
    width:  1rem;    
}

.directorylist li::after{
    position: absolute;
    left:   -1.2rem;
    bottom: -0.5rem;
    content: '';
    display: block;
    border-left: 0.1rem solid #ddd;
    height: 100%;
}

.directorylist > ul > li:first-child::before {
    display: none; 
}

.directorylist > ul > li:first-child::after {
    display: none; 
}

.directorylist li:last-child::after {
    display: none; 
}


/*
  End of the .directorylist part        
*/



@media print {
    #TOC { 
        display: none; 
    }
    #LINKS {
        display: none; 
    }
    h1 {
        font-size: 140%; 
    }
    h2 {
        font-size: 120%; 
    }
    body {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px; 
        padding-right: 0px; 
    }
    pre {
        margin-top:    0.5rem;
        margin-bottom: 0.5rem; 
        padding:       0.5rem; 
    }
}


